float2d/
int2d/
naray/
test_base/
math/
base_ex/
base_hide/
xobject/
*.1
*.o
*.stash
*.Debug
*.Release
*.a
*.0
*.so
Makefile*
base/debug/
base/release/
geogebra/debug/
geogebra/release/
naray/debug/
naray/release/

